In [5]:
#EMPTY SERIES
import pandas as pd
s=pd.Series()
print(s)

Series([], dtype: object)

In [6]:
#creating series from array
import numpy as np
import pandas as pd
data=np.array(['a','b','c','d','e'])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
#creating series from dictionary
import numpy as np
import pandas as pd
data={'a':0,'b':1,'c':2}
s=pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [9]:
#accessing for data from a series from index
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[0])

1

In [10]:
#retrieving last 3 elemnts from pandas series
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[-3:])

c    3
d    4
e    5
dtype: int64

In [11]:
#retrieving multiple elements using list
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [12]:
#creating empty dataframe
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#dataframe with lists
import pandas as pd
data=[1,2,3,4,5]
df=pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
#dataframe with 2 lists and columnnames
import pandas as pd
data=[['vamsi',28],['ntr',39]]
df=pd.DataFrame(data,columns=['name','age'])
df

    name  age
0  vamsi   28
1    ntr   39